<% if @user.nil? %>
	$("#wrongLoginInfo").show();
	$("#emailTextField").val("");
	$("#pwdTextField").val("");
	$("#emailTextField").focus();
<% else %>
	$('#login').modal('hide');
	$('#account').html('<a data-toggle="dropdown" type = "button"><span class="glyphicon glyphicon-user"> Account</span><ul class="dropdown-menu"><li><a href=<%= orders_path %>>Orders</a></li><li><a href=<%= sign_out_path %>>Logout</a></li></ul></a>');
	$('#accountInfo').html('<a><span class="glyphicon glyphicon-user"></span><%= " " + @user.email %>');
	$('#cartFooterInfo').html('<span class="glyphicon glyphicon-user"></span><%= " " + @user.email %><h3>Your total is Rs <%= @total %></h3><%= link_to orders_path, method:"post" do %><span class="btn btn-success">Place Order!</span><% end %>');
<% end %>
