<div class="container">
	<ul class="nav nav-pills well well-sm">
		<li><%= link_to "Household", products_path(category: "Household", page: "1") %></li>
		<li><%= link_to "Personal Care", products_path(category: "Personal Care", page: "1") %></li>
		<li><%= link_to "Beverages", products_path(category: "Beverages", page: "1") %></li>
		<li><%= link_to "Video Games", products_path(category: "Video Games", page: "1") %></li>
		<li><%= link_to "Model Airplanes", airplanes_path(page: "1") %></li>
	</ul>
    <h2><span class="glyphicon glyphicon-list-alt"></span> My Orders</h2>
    <% if @orders.size == 0 %>
		<div class="alert alert-info fade in">
  			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  			<strong>No Order!</strong> history
		</div>
    <% else %>
    	<table class="table">
			<thead>
				<tr>
					<th>Order ID</th>
					<th>Date</th>
					<th>Total</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><%= order.id %></td>
					<td><%= order.updated_at.to_s(:db).split(" ")[0] %></td>
					<td>&#8377;<%= number_with_precision(order.total, :precision => 2, :delimiter => ',') %></td>
					<td>
						<%= link_to order_path(id: order.id), class: "removeFromCartButton", method: "get" do %>
							<h4><span class="glyphicon glyphicon-eye-open"></span></h4>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>