<div class="container">
	<ul class="nav nav-pills well well-sm">
		<li><%= link_to "Household", products_path(category: "Household", page: "1") %></li>
		<li><%= link_to "Perosnal Care", products_path(category: "Personal Care", page: "1") %></li>
		<li><%= link_to "Beverages", products_path(category: "Beverages", page: "1") %></li>
		<li><%= link_to "Video Games", products_path(category: "Video Games", page: "1") %></li>
		<li><%= link_to "Model Airplanes", airplanes_path(page: "1") %></li>
	</ul>
	<div class="jumbotron">
	    <h2>Order ID : <%= @orderID %></h2>
	</div>
	<% @productsList.each_index do |i| %>
		<div class="row">
			<div class="col-sm-2"><%= image_tag @productsList[i].img_url, class: "thumbnail", size: "50" %></div>
			<div class="col-sm-2 text-center"><h4><%= @productsList[i].name %></h4></div>
			<div class="col-sm-2 text-center"><h4>Rs <%= @productsList[i].price %></h4></div>
			<div class="col-sm-2 text-center"><h4><%= @quantityList[i] %></h4></div>
			<div class="col-sm-2 text-center"><h4>Rs <%= @quantityList[i].to_i * @productsList[i].price %></h4></div>
		</div>
	<% end %>
</div>