<div class="container">
	<ul class="nav nav-pills well well-sm">
		<li><%= link_to "Household", products_path(category: "Household", page: "1") %></li>
		<li><%= link_to "Perosnal Care", products_path(category: "Personal Care", page: "1") %></li>
		<li><%= link_to "Beverages", products_path(category: "Beverages", page: "1") %></li>
		<li><%= link_to "Video Games", products_path(category: "Video Games", page: "1") %></li>
		<li><%= link_to "Model Airplanes", airplanes_path(page: "1") %></li>
	</ul>
	<h2><span class="glyphicon glyphicon-list-alt"></span> Order <%= @order.id %></h2>
	<table class="table">
	    <thead>
	      <tr>
	        <th>ITEM</th>
	        <th>PRICE</th>
	        <th>QUANTITY</th>
	        <th>TOTAL</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<% @productsList.each_index do |i| %>
		      	<tr>
			        <td>
			        	<%= @productsList[i].name %>
			        	<%= image_tag @productsList[i].img_url, class: "thumbnail", size: "50" %>
			        </td>
			        <td>&#8377;<%= number_with_precision(@productsList[i].price, :precision => 2, :delimiter => ',') %></td>
			        <td><%= @quantityList[i] %></td>
			        <td>&#8377;<%= number_with_precision(@quantityList[i].to_i * @productsList[i].price, :precision => 2, :delimiter => ',') %></td>
	      		</tr>
	      	<% end %>
	      	<tr>
      			<td></td>
      			<td></td>
      			<td></td>
      			<td><strong>&#8377;<%= number_with_precision(@order.total, :precision => 2, :delimiter => ',') %></strong></td>
	      	</tr>
	    </tbody>
	</table>
</div>