<div class="container">
	<ul class="nav nav-pills well well-sm">
		<li><%= link_to "Household", products_path(category: "Household", page: "1") %></li>
		<li><%= link_to "Personal Care", products_path(category: "Personal Care", page: "1") %></li>
		<li><%= link_to "Beverages", products_path(category: "Beverages", page: "1") %></li>
		<li><%= link_to "Video Games", products_path(category: "Video Games", page: "1") %></li>
		<li><%= link_to "Model Airplanes", airplanes_path(page: "1") %></li>
	</ul>
    <h2><span class="glyphicon glyphicon-shopping-cart"></span> Cart</h2>
    <% if @products.size != 0 %>
	    <table class="table">
		    <thead>
		      <tr>
		        <th>Item</th>
		        <th>Price</th>
		        <th>Quantity</th>
		        <th>Total</th>
		        <th>Action</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<% @products.each_index do |i| %>
		      	<tr>
		        	<td>
		        		<div>
		   					<%= @products[i].name %>
		        			<%= image_tag @products[i].img_url, class: "thumbnail", size: "50" %>
		   				</div>
		        	</td>
		        	<td>&#8377;<%= number_with_precision(@products[i].price, :precision => 2, :delimiter => ',') %></td>
		        	<td><%= @qtys[i] %></td>
		        	<td>&#8377;<%= number_with_precision(@qtys[i].to_i * @products[i].price, :precision => 2, :delimiter => ',') %></td>
		        	<td>
			        	<% if @products[i].class.to_s == "Airplane" %>
							<%= link_to remove_from_cart_path(prod: @products[i].id, type: "MA"), class: "removeFromCartButton", method: "post" do %>
								<h4><span class="glyphicon glyphicon-trash"></span></h4>
							<% end %>
						<% elsif @products[i].class.to_s == "Part" %>
							<%= link_to remove_from_cart_path(prod: @products[i].id, type: "MAP"), class: "removeFromCartButton", method: "post" do %>
								<h4><span class="glyphicon glyphicon-trash"></span></h4>
							<% end %>
						<% elsif @products[i].class.to_s == "Product" %>
							<%= link_to remove_from_cart_path(prod: @products[i].id), class: "removeFromCartButton", method: "post" do %>
								<h4><span class="glyphicon glyphicon-trash"></span></h4>
							<% end %>
						<% end %>
					</td>
		      	</tr>
		      	<% end %>
		    </tbody>
	  	</table>
		<div class="well well-sm">	
			<% if @user.nil? %>
				<span class="glyphicon glyphicon-user lable lable-warning" id="cartFooterUserName">Guest</span>
				<h4>Your total is &#8377;<%= number_with_precision(@total, :precision => 2, :delimiter => ',') %></h4>
				<div id="cartFooterButton">
					<a data-toggle="modal" data-target="#login"><span class="btn btn-success">Proceed</span></a>
				</div>
			<% else %>
				<span class="glyphicon glyphicon-user" id="cartFooterUserName"><%= @user.fname %></span>
				<h4>Your total is &#8377;<%= number_with_precision(@total, :precision => 2, :delimiter => ',') %></h4>
				<div id="cartFooterButton">
					<%= link_to orders_path, method:"post" do %>
						<span class="btn btn-success">Place Order</span>
					<% end %>
				</div>
		</div>
	<% end %>
	<% else %>
		<div class="alert alert-info fade in">
  			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  			<strong>No Items!</strong> in cart
		</div>
	<% end %>
</div>
</div>