<div class="col-sm-3">
	<div class="panel-body">
		<div class="row">
			<div class="text-center col-sm-12 label label-primary"><%= product.name %></div>
		</div>
		<div class="row">
			<div class="col-sm-12 label label-primary">&#8377;<%= number_with_precision(product.price, :precision => 2, :delimiter => ',') %></div>
		</div>
		<div class="row">
			<div class="productImage col-sm-12" style="background-image: url(<%= product.img_url %>);">
				<%= form_for :cart, url: add_to_cart_path(prod: product.id, type: "G"), class: "form-horizontal", style: "vertical-align: bottom;", remote: true do |f| %>
						<div class="row">
							<div class="emptyDiv"></div>
						</div>
						<div class = "row">
							<div class="col-sm-6">
								<%= f.text_field :qty, class: 'form-control quantityTF', placeholder: "Qty", value: "1", type: "number", min: "1", max: "200" %>
							</div>
				    		<div class="col-sm-4">
				    			<button type="submit" class="btn btn-primary addToCartButton center-block">Add to Cart</button>
				    		</div>	
				    	</div>
				<% end %>
			</div>
		</div>
	</div>
</div>