<div class="container">
	<div class="jumbotron">
	    <h1>Beverages</h1>
	    <h3><a href=<%= root_path %>><span class="glyphicon glyphicon-chevron-left"></span> Back</a></h3>
	</div>
	<div class="row">
	<% @products.each do |product| %>
		<div class="col-sm-4">
			<%= image_tag product.img_url, class: "thumbnail", size: "200" %>
			<h4><%= product.name %></h4>
			<h4>Rs <%= product.price %></h4>
			<%= link_to "Add to cart", add_to_cart_path(prod: product.id), class: "btn btn-primary", method: "post" %>
			</br>
			</br>
		</div>
	<% end %>
	</div>
</div>