<div class="container">
    <% case @category %>
      <% when "Household"%>
      <ul class="nav nav-pills well well-sm">
        <li class="active"><%= link_to "Household", products_path(category: "Household", page: "1") %></li>
          <li><%= link_to "Personal Care", products_path(category: "Personal Care", page: "1") %></li>
          <li><%= link_to "Beverages", products_path(category: "Beverages", page: "1") %></li>
          <li><%= link_to "Video Games", products_path(category: "Video Games", page: "1") %></li>
          <li><%= link_to "Model Airplanes", airplanes_path(page: "1") %></li>
        </ul>
        <%= image_tag "householdBanner.jpg", class: "center-block fullImages thumbnail" %>        
        <% when "Personal Care"%>
        <ul class="nav nav-pills well well-sm">
          <li><%= link_to "Household", products_path(category: "Household", page: "1") %></li>
          <li class="active"><%= link_to "Personal Care", products_path(category: "Personal Care", page: "1") %></li>
          <li><%= link_to "Beverages", products_path(category: "Beverages", page: "1") %></li>
          <li><%= link_to "Video Games", products_path(category: "Video Games", page: "1") %></li>
          <li><%= link_to "Model Airplanes", airplanes_path(page: "1") %></li>
          </ul>
          <%= image_tag "personalCareBanner.jpg", class: "center-block fullImages thumbnail" %> 
        <% when "Beverages" %>
        <ul class="nav nav-pills well well-sm">
          <li><%= link_to "Household", products_path(category: "Household", page: "1") %></li>
          <li><%= link_to "Personal Care", products_path(category: "Personal Care", page: "1") %></li>
          <li class="active"><%= link_to "Beverages", products_path(category: "Beverages", page: "1") %></li>
          <li><%= link_to "Video Games", products_path(category: "Video Games", page: "1") %></li>
          <li><%= link_to "Model Airplanes", airplanes_path(page: "1") %></li>
          </ul>
          <%= image_tag "beveragesBanner.jpg", class: "center-block fullImages thumbnail" %> 
        <% when "Video Games" %>
        <ul class="nav nav-pills well well-sm">
          <li><%= link_to "Household", products_path(category: "Household", page: "1") %></li>
          <li><%= link_to "Personal Care", products_path(category: "Personal Care", page: "1") %></li>
          <li><%= link_to "Beverages", products_path(category: "Beverages", page: "1") %></li>
          <li class="active"><%= link_to "Video Games", products_path(category: "Video Games", page: "1") %></li>
          <li><%= link_to "Model Airplanes", airplanes_path(page: "1") %></li>
          </ul>
          <%= image_tag "videoGamesBanner.jpg", class: "center-block fullImages thumbnail" %> 
      <% end %>
	<div class="row" id="productListView">
		<%= render @products %>
	</div>
  <h3 class="text-center">
    <%= link_to paginate_path(category: @category, page: @prevPage), id: "prevButton", method: "post", remote: true do %>
      <button type="button" class="btn btn-disabled" disabled><span class = "glyphicon glyphicon-chevron-left"></span> Prev</button>
    <% end %>
    <% if @nextPage == "" %>
      <%= link_to paginate_path(category: @category, page: @nextPage), id: "nextButton", method: "post", remote: true do %>
        <button type="button" class="btn btn-disabled" disabled>Next  <span class = "glyphicon glyphicon-chevron-right"></span></button>
      <% end %>
    <% else %>
      <%= link_to paginate_path(category: @category, page: @nextPage), id: "nextButton", method: "post", remote: true do %>
      <button type="button" class="btn btn-primary">Next  <span class = "glyphicon glyphicon-chevron-right"></span></button>
    <% end %>
    <% end %>
  </h3>
</div>