<div class="container">
     <ul class="nav nav-pills well well-sm">
          <li><%= link_to "Household", products_path(category: "Household") %></li>
          <li><%= link_to "Perosnal Care", products_path(category: "Personal Care") %></li>
          <li><%= link_to "Beverages", products_path(category: "Beverages") %></li>
          <li><%= link_to "Video Games", products_path(category: "Video Games") %></li>
    </ul>
    <div class="jumbotron">
        <h2>Search</h2>
        <% if @searchResults.nil? %>
          <h4>No Results Found!</h4>
        <% end %>
    </div>
      <% if not @searchResults.nil? %>
        <% if @searchResults.kind_of?(Array) %>
        	<% @searchResults.each do |product| %>
      			<div class="row">
    	  			<div class="col-sm-3"><%= image_tag product.img_url, class: "thumbnail", size: "50" %></div>
    				  <div class="col-sm-3"><h4><%= product.name %></h4></div>
    				  <div class="col-sm-3"><h4>Rs <%= product.price %></h4></div>
              <div class="col-sm-3"><%= link_to "Add to cart", add_to_cart_path(prod: product.id, cat: product.cat), class: "btn btn-primary", method: "post" %></div>
    			  </div>
        <% end %>
        <% else %>
            <div class="row">
              <div class="col-sm-3"><%= image_tag @searchResults.img_url, class: "thumbnail", size: "50" %></div>
              <div class="col-sm-3"><h4><%= @searchResults.name %></h4></div>
              <div class="col-sm-3"><h4>Rs <%= @searchResults.price %></h4></div>
              <div class="col-sm-3"><%= link_to "Add to cart", add_to_cart_path(prod: @searchResults.id, cat: @searchResults.cat), class: "btn btn-primary addToCartButton", method: "post" %></div>
          </div>
    		<% end %>
      <% end %>
</div>